// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Define Breakpoints as Variables
$desktop-x-large: 3480px;
$desktop-large: 2560px;
$desktop-medium: 1920px;
$desktop-small: 1440px;
$tablet-landscape: 1280px;
$mobile-portrait-large: 1080px;

// Define the 'respond-to' mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile-portrait-large {
    @media (max-width: $mobile-portrait-large) {
      @content;
    }
  } @else if $breakpoint == tablet-landscape {
    @media (max-width: $tablet-landscape) {
      @content;
    }
  } @else if $breakpoint == desktop-small {
    @media (max-width: $desktop-small) {
      @content;
    }
  } @else if $breakpoint == desktop-medium {
    @media (max-width: $desktop-medium) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media (max-width: $desktop-large) {
      @content;
    }
  } @else if $breakpoint == desktop-x-large {
    @media (max-width: $desktop-x-large) {
      @content;
    }
  }
}

html {
  font-size: 10px;
}

// Define variables for typography
$base-font-size: 10px;
$heading-font-family: "Inter", "Helvetica", sans-serif;
$body-font-family: "Inter", "Helvetica", sans-serif;
$countdown-font-family: "Inter", "Helvetica", sans-serif;

// Define styles for headings
h1 {
  font-size: 15rem;
  font-family: $heading-font-family;
  color: $colour_brand_secondary;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    font-size: 7.8rem;
    transform: scaleY(1.4);
  }

  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    font-size: 12.5rem;
    transform: scaleY(1.5);
  }
}

h2 {
  font-size: 6.4rem;
  font-family: $heading-font-family;
  color: $colour__grey__900;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    font-size: 2.6rem;
  }
  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    font-size: 2.4em;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
}

h3 {
  font-size: 3rem;
  font-family: $heading-font-family;
  color: $colour_brand_secondary;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    font-size: 2.2rem;
  }

  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    font-size: 1.8rem;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
}


p {
  font-size: 1.6rem; 
  font-family: $body-font-family;

}


.emphasise--primary {
  color: $colour_brand_primary;
  font-weight: 700;
  letter-spacing: 100;
}

.emphasise--secondary {
  color: $colour_brand_secondary;
  font-weight: 700;
  letter-spacing: 100;
}
