// Define Breakpoints as Variables
$desktop-x-large: 3480px;
$desktop-large: 2560px;
$desktop-medium: 1920px;
$desktop-small: 1440px;
$tablet-landscape: 1280px;

// Define the 'respond-to' mixin

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet-landscape {
    @media (max-width: $tablet-landscape) {
      @content;
    }
  } @else if $breakpoint == desktop-small {
    @media (max-width: $desktop-small) {
      @content;
    }
  } @else if $breakpoint == desktop-medium {
    @media (max-width: $desktop-medium) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media (max-width: $desktop-large) {
      @content;
    }
  } @else if $breakpoint == desktop-x-large {
    @media (max-width: $desktop-x-large) {
      @content;
    }
  }
}

// Define variables for typography
$base-font-size: 16px;
$heading-font-family: "Helvetica", sans-serif;
$body-font-family: "Helvetica", sans-serif;

// Define styles for headings
h1 {
  font-size: 2em; // Example size, you can use variables here
  font-family: $heading-font-family;
  // Other heading styles...
}

h2 {
  font-size: 1.5em;
  font-family: $heading-font-family;
  /* Other heading styles... */

  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    font-size: 2.6rem; // Adjusted font size for tablet landscape
  }
}

h3 {
  font-size: 1.2em; // Example size, you can use variables here
  font-family: $heading-font-family;
}

// Define styles for paragraphs
p {
  font-size: 1em; // Example size, you can use variables here
  font-family: $body-font-family;
  // Other paragraph styles...
}

// Other typography styles...
