@import "colours";
@import "typography";

// Define Breakpoints as Variables
$desktop-x-large: 3480px;
$desktop-large: 2560px;
$desktop-medium: 1920px;
$desktop-small: 1440px;
$tablet-landscape: 1280px;
$mobile-portrait-large: 1080px;

// Define the 'respond-to' mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile-portrait-large {
    @media (max-width: $mobile-portrait-large) {
      @content;
    }
  } @else if $breakpoint == tablet-landscape {
    @media (max-width: $tablet-landscape) {
      @content;
    }
  } @else if $breakpoint == desktop-small {
    @media (max-width: $desktop-small) {
      @content;
    }
  } @else if $breakpoint == desktop-medium {
    @media (max-width: $desktop-medium) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media (max-width: $desktop-large) {
      @content;
    }
  } @else if $breakpoint == desktop-x-large {
    @media (max-width: $desktop-x-large) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  background-color: $colour_page_background;
}

//dfsnfksdz
/* Webkit Scrollbar custom styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $colour__grey__400;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($colour__grey__400, 10%);
}

.cta {
  background-color: $colour__grey__black;
  color: $colour__grey__white;
  text-decoration: none;
  padding: 0.5rem 6rem !important;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: darken($colour__grey__black, 10%);
  }

  &:active {
    transform: scale(0.95) translateY(6px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }
}

.scroll-down-arrow-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;

  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    left: 48%;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    display: none;
  }
}

.scroll-down-arrow {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    width: 110px;
  }
  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    width: 103px;
  }

  svg path {
    stroke: $colour__grey__900;
    stroke-width: 1.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    box-shadow: 0 2px 4px $colour__grey__500;
    animation: bounce 1.4s infinite ease-in-out;
    width: 100%;
    height: 80%;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4) !important;
  }
  50% {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
  }
}

/* Click down effect */
.scroll-down-arrow.clicked {
  transform: translateY(-5px);
}

//Top Nav Bar
.top-navbar {
  background-color: rgba(243, 243, 243, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 34px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(mobile-portrait-large) {
      display: none;
      padding: 0 20px;
      height: 36px;
    }

    .nav-logo {
      font-size: 1.6rem;
      color: $colour_text_primary;
      text-decoration: none;
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      max-width: 30%;

      a {
        color: $colour_text_secondary;
        font-weight: 500;
        text-decoration: none;
        font-size: 1.6rem;
        transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;

        // Breakpoint: Tablet landscape
        @include respond-to(tablet-landscape) {
          font-size: 1.3rem;
        }
        // Breakpoint: Tablet landscape
        @include respond-to(mobile-portrait-large) {
          font-size: 1.3rem;
        }

        &:hover {
          color: $colour_text_primary;
          font-weight: 600;
        }
      }
    }
  }
}

// Hamburger Menu
.hamburger-menu {
  display: none;

  // Breakpoint: Tablet portrait
  @include respond-to(mobile-portrait-large) {
    display: block;
    position: fixed;
    top: 16px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;

    .hamburger-icon {
      span {
        display: block;
        width: 24px;
        height: 2px;
        background-color: $colour_text_primary;
        margin-bottom: 5px;
      }
    }
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    top: 16px;
  }
}

// Mobile Navigation
.mobile-nav {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.8);
  backdrop-filter: blur(2px);
  z-index: 999;
  overflow: hidden;
  transition: top 0.3s ease-in-out;

  // Breakpoint: Tablet portrait
  @include respond-to(tablet-landscape) {
    display: block;
    position: fixed;

    &.show {
      top: 0;
    }

    .mobile-nav-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: 100%;
      position: sticky;
      top: 0;

      .nav-logo {
        font-size: 2rem;
        color: $colour_text_primary;
        text-decoration: none;
        margin-bottom: 40px;
      }

      .mobile-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          color: $colour_text_secondary;
          font-weight: 500;
          text-decoration: none;
          font-size: 2rem;
          margin-bottom: 30px;
          transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;

          &:hover {
            color: $colour_text_primary;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.mobile--remove {
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    display: none !important;
  }
}

//
// Banner Section
//
$unitHeight: calc(100vh / 8);

// Every unit height represents 1/8th of the total height.

.banner {
  &__section {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    // Breakpoint: Medium desktop
    @include respond-to(desktop-large) {
      max-height: 1500px;
    }

    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
      max-height: 1080px;
    }

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      height: 100vh;
      max-height: 900px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 100vh;
      max-height: 800px;
    }

    // Breakpoint: Tablet landscape
    @include respond-to(mobile-portrait-large) {
      height: 100vh;
      overflow: hidden;
      max-height: none;
      overflow-x: hidden;
    }
  }

  &__container {
    width: 90%;
    max-height: 1080px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;

    // Breakpoint: Medium desktop
    @include respond-to(desktop-large) {
      max-width: 1800px;
    }

    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
      width: 80%;
    }

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      width: 84%;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      width: 76%;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: -70px;
    }
  }

  &__heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 10px 0;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      padding: 5px 0;
    }

    & img {
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        margin-top: -140px;
      }
    }

    &--name {
      font-weight: 300;
      transform: scaleY(1.5);
      margin-top: 100px;

      // Breakpoint: Small desktop
      @include respond-to(desktop-small) {
        position: relative;
        margin-top: 46px;
        margin-left: 13px;
      }

      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        margin-top: 94px;
        margin-left: 87px;
      }

      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        height: 200px;
      }
    }
  }

  &__tagline {
    font-size: 4.5rem;
    font-weight: 600;
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left;
    color: rgb(75, 0, 128);

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      font-size: 2.1rem;
      margin-bottom: 19px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      font-size: 2rem;
      margin-bottom: 14px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      text-align: center;
      font-size: 2.4rem;
      margin-top: -120px;
      margin-bottom: 26px;
    }
  }

  &__row {
    display: flex;
    width: 100%;

    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--2x {
      height: $unitHeight * 2;

      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: 0px;
      }
    }
    &--1x {
      height: $unitHeight * 1;
    }
    &--3x {
      height: $unitHeight * 3;
    }
  }

  &__box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; // Full inherited height from the row

    // Breakpoint: Tablet landscape
    @include respond-to(mobile-portrait-large) {
      width: 50%; // Each box takes half the width
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--half {
      width: 50%; // Half of the parent row's width
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        text-align: center;
        width: 91%;
      }
    }
  }

  &__cta {
    background-color: $colour__grey__black;
    color: $colour__grey__white;
    text-decoration: none;
    padding: 6px 70px 6px !important;
    border-radius: 40px;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

    &:active {
      transform: scale(0.95) translateY(3px);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    }

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      padding: 5px 53px 6px !important;
      font-size: 1.6rem;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      padding: 4px 38px 5px !important;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      padding: 5px 38px 6px !important;
    }
  }
}

#tagline-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 74%;
  width: 100%;

  // Breakpoint: Extra large desktop
  @include respond-to(desktop-x-large) {
    margin-top: 60px;
  }

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    margin-left: -26px;
    margin-top: -28px;
  }
  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    margin-top: 10px;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    align-items: center;
    margin-left: 0;
  }
}

#banner__box--image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 145%;
    width: auto;
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      margin-left: -42px;
      bottom: 10px;
      position: relative;
      height: 165%;
      max-height: 500px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      height: 138%;
      margin-left: 20px;
      margin-top: -40px;
    }
  }
}

.countdown {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__timer {
    &--third {
      position: relative;
      max-width: 100%;
      font-size: 8rem;
      color: $colour_brand_primary;
      font-weight: 700;
      text-shadow: $colour_text_shadow;
      white-space: nowrap;

      // Breakpoint: Small desktop
      @include respond-to(desktop-small) {
        font-size: 6rem;
      }
      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        margin-top: -26px;
        font-size: 4.8rem;
      }

      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        margin-top: -24px;
        font-size: 2.9rem;
      }

      &_time-unit {
        display: inline-block;
        width: 2em; // Fixed width for each time unit
        text-align: center;
      }
    }
  }
}

#portrait-wedding {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 23%;
  height: auto;

  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
  image-rendering: pixelated;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    width: 25%;
  }

  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    width: 22%;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top left;
    border-radius: 4px;
  }
}

#portrait-party {
  position: absolute;
  top: -13%;
  left: 35%;
  z-index: -1;
  width: 23%;
  height: auto;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    top: -7%;
  }
  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    top: -7%;
    left: 34%;
    width: 20%;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

#landscape-trip {
  position: absolute;
  top: 20%;
  right: 0;
  width: 33%;
  height: auto;
  z-index: -1;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    width: 34%;
  }
  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    width: 33%;
    top: 21%;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

#landscape-festival {
  position: absolute;
  bottom: 6%;
  right: 13%;
  width: 33%;
  height: auto;
  z-index: -2;

  // Breakpoint: Small desktop
  @include respond-to(desktop-small) {
    bottom: 11%;
    right: 13%;
    width: 35%;
  }
  // Breakpoint: Tablet landscape
  @include respond-to(tablet-landscape) {
    bottom: 8%;
    right: 14%;
    width: 32%;
  }
  // Breakpoint: Mobile large portrait
  @include respond-to(mobile-portrait-large) {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

//
// Intro Section Styles
//
.intro {
  padding: 0;

  &__section {
    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
      max-height: 1080px;
    }
    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      height: 100vh;
      max-height: 900px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      padding-top: 40px;
      height: 100vh;
      max-height: 1100px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      height: auto;
      max-height: none;
      padding-bottom: 280px;
      padding-top: 100px;
    }
  }

  &__container {
    height: 100vh;
    max-height: 1080px;
    width: 100%;
    margin: 0 auto; // Centering the container.
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      padding-top: 40px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      padding-top: 30px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      padding-top: 200px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    position: relative;
    left: -4%;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      left: -5%;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      width: 76%;
    }

    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      flex-wrap: wrap;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 0%;
    }
  }

  &__heading {
    max-width: 1200px !important;
    margin-bottom: 100px;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      margin-bottom: 70px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 100px;
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 40px;
    position: relative;
    left: 0;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      margin-bottom: 20px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      margin-bottom: 30px;
    }
  }

  &__image {
    flex: 1;
    max-width: 33.333%;
    text-align: right;
    padding-right: 40px;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      padding-right: 24px;
      // max-width: 82%;
      margin-bottom: 23px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      margin-bottom: 10px;
      max-width: 100%;
    }

    img {
      max-width: 90%;
      height: auto;

      @include respond-to(desktop-small) {
        max-width: 70%;
      }
      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        max-width: 76%;
      }
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        max-width: 74%;
        margin-left: -28px;
      }
    }
  }

  &__text {
    flex: 2;
    max-width: 66.666%;
    margin-bottom: 8%;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      max-width: 60%;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      max-width: 100%;
      display: contents;
    }
  }

  &__description {
    font-size: 2rem;
    color: $colour_text_secondary;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: justify;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      font-size: 1.8rem;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      font-size: 1.6rem;
    }
  }

  &__cta {
    background-color: $colour__grey__black;
    color: $colour__grey__white;
    text-decoration: none;
    padding: 6px 70px 6px !important;
    border-radius: 40px;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

    &:active {
      transform: scale(0.95) translateY(3px);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    }
    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      font-size: 2rem;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      font-size: 1.6rem;
      padding: 4px 52px 5px !important;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 8px 38px 6px;
      width: 130px;
    }
  }
}

/*
  Key features Section
  */

// Key features Section Styles
.key-features {
  padding-top: 0;

  overflow: visible;

  &__section {
    height: 173vh;
    position: relative;
    overflow: visible;
    z-index: 888;
    background-image: url("../img/key-features-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
      height: 137vh;
      max-height: 1470px;
    }

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      background-size: 100% auto;
      height: 136vh;
      max-height: 1100px;
    }

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 146vh;
      max-height: 1000px;
      padding-top: 80px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      height: auto;
      max-height: none;
      background-repeat: repeat;
      padding-bottom: 4.4rem;
      padding-top: 0px;
    }
  }

  &__container {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      padding-top: 0;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      height: auto;
    }
  }

  &__anchor {
    display: flex;
    align-items: start;
    height: 130px;
    width: 20px;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 70px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      margin-top: 3rem;
    }
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    width: 80%;
    max-width: 1200px;
    z-index: 1;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      width: 78%;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      width: 86%;
    }
  }

  &__heading {
    margin-bottom: 150px;
    max-width: 1200px !important;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      margin-bottom: 90px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 100px;
      margin-bottom: 32px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      margin-bottom: 3rem;
      text-align: center;
    }
  }

  &__box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: $shadow-key-features-box;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      padding: 34px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      padding: 24px;
    }
  }

  &__box-title {
    margin-bottom: 28px;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      font-size: 1.9rem;
    }
  }

  &__box-description {
    font-size: 1.6rem;
    color: $colour_text_secondary;
    line-height: 1.4;
    font-weight: 500;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      font-size: 1.6rem;
      line-height: 1.3;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      line-height: 1.5;
    }
  }
}
#key-features--heading h2 {
  color: $colour__grey__white !important;
}

// Sign up Section Styles
.sign-up {
  &__section {
    height: 90vh;

    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
      max-height: 1080px;
    }

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 98vh;
      max-height: 900px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      max-height: none;
      height: auto;
    }
  }

  &__container {
    height: 100%;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      height: 88vh;
    }

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      width: 78%;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      height: auto;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    max-width: 1320px;
    position: relative;

    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
      width: 88%;
    }

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      width: 84%;
      left: 3%;
      margin-top: 60px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      width: 90%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      left: 0%;
      margin-top: 0px;
    }
  }

  &__heading {
    margin-bottom: 120px;
    // Breakpoint: Medium desktop
    @include respond-to(desktop-medium) {
    }
    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      margin-bottom: 32px;
    }
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 120px;
      margin-bottom: 0;
      margin-top: 46px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      text-align: center;
      margin-top: 26px;
    }
  }
  &__image,
  &__text {
    position: relative;
  }

  &__image {
    flex: 1;
    max-width: 33.333%;
    text-align: right;
    padding-right: 40px;
    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      padding-right: 0px;
      text-align: right;
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        max-width: 100%;
        // margin-left: -32px;
      }
    }

    img {
      max-width: 97%;
      height: auto;

      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        max-width: 80%;
        text-align: left;
      }
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        max-width: 90%;
      }
    }
  }

  &__text {
    flex: 2;
    max-width: 66.666%;
    margin-bottom: 20%;

    // Breakpoint: Small desktop
    @include respond-to(desktop-small) {
      margin-bottom: 15%;
    }

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      margin-bottom: 12%;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      max-width: none;
    }
  }

  &__description {
    font-size: 2rem;
    color: $colour_text_secondary;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
    font-weight: 500;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.4;
      margin-bottom: 46px;
    }
  }

  &__form {
    display: flex;
    margin: 1rem 0;
    width: 80%;
    border: 1px solid $colour__grey__900;
    border-radius: 40px;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 32px;
    }
    // Breakpoint: Mobile large portrait
    @include respond-to(mobile-portrait-large) {
      width: 100%;
      height: 30px;
    }

    input,
    button {
      text-decoration: none;
      padding: 8px 56px;
      font-size: 1.8rem;
      cursor: pointer;
      border: 2px black;
      outline: none;
      border-radius: 40px;
      transition: transform 0.1s ease, box-shadow 0.1s ease;
      font-family: $body-font-family;

      // Breakpoint: Small desktop
      @include respond-to(desktop-small) {
        font-size: 1.4rem;
        padding: 6px 56px;
      }

      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        font-size: 1.4rem;
        padding: 0px 32px 0px;
      }
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        font-size: 1.2rem;
        padding: 0px 20px;
      }
    }

    // Individual styling for the input
    input {
      background-color: transparent;
      border: 2px $colour__grey__900;
      color: $colour__grey__black;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      flex-grow: 1;

      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        width: 30%;
      }
    }

    // CTA button, using variables from CTA
    button {
      background-color: $colour__grey__black;
      color: $colour__grey__100;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      text-shadow: $colour_text_shadow;

      &:active {
        // transform: scale(0.95) translateY(6px);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
      }

      // Breakpoint: Small desktop
      @include respond-to(desktop-small) {
        padding: 8px 32px 10px 32px;
      }
      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        font-size: 1.2rem;
        padding: 0px 32px 0px;
      }
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        font-size: 1.2rem;
        width: 28%;
        padding: 0px 17px 0px;
      }

      // Button hover state
      &:hover {
        background-color: darken($colour__grey__black, 10%);
      }
    }
  }

  &__bottom-navbar {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $colour_page_background;
    border-top: 1px solid $colour__grey__500;

    // Breakpoint: Tablet landscape
    @include respond-to(tablet-landscape) {
      height: 40px;
    }

    .nav-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 20px;
      max-width: 1200px;
      margin: 0 auto;
      height: 40px;
      .nav-links {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 33%;

        a {
          text-decoration: none;
          color: $colour_text_secondary;
          font-size: 1.6rem;
          margin-right: 20px;
          margin-right: 40%;

          // Breakpoint: Small desktop
          @include respond-to(desktop-small) {
            font-size: 1.4rem;
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: $colour_text_primary;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__bottom-navbar {
    .nav-container {
      .nav-links {
        a {
          // Breakpoint: Tablet landscape
          @include respond-to(tablet-landscape) {
            font-size: 1.2rem;
          }

          &:hover {
            color: $colour_text_primary;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.countdown {
  &__timer {
    &--second {
      position: absolute;
      top: 33%;
      left: 35%;
      max-width: 33.333%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: 1.6rem;
      font-family: $countdown-font-family;
      color: $colour_brand_primary;
      font-weight: 700;
      text-shadow: $colour_text_shadow;
      white-space: nowrap;

      &_time-unit {
        display: inline-block;
        width: 2em;
        text-align: center;
      }

      // Breakpoint: Small desktop
      @include respond-to(desktop-small) {
        top: 31%;
        left: 37%;
      }

      // Breakpoint: Tablet landscape
      @include respond-to(tablet-landscape) {
        top: 31%;
        left: 45%;
        font-size: 1.2rem;
      }
      // Breakpoint: Mobile large portrait
      @include respond-to(mobile-portrait-large) {
        top: 32%;
        left: 39%;
        font-size: 1.7rem;
        text-align: left;
      }
    }
  }
}
