@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  font-size: 10px;
}

h1 {
  font-size: 15rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h1 {
    font-size: 7.8rem;
    transform: scaleY(1.4);
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 12.5rem;
    transform: scaleY(1.5);
  }
}

h2 {
  font-size: 6.4rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #191919;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 1280px) {
  h2 {
    font-size: 3.4rem;
  }
}
@media (max-width: 1080px) {
  h2 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
}

h3 {
  font-size: 3rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h3 {
    font-size: 2.4rem;
  }
}
@media (max-width: 1080px) {
  h3 {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
}

.emphasise--primary {
  color: #f75200;
  font-weight: 700;
  letter-spacing: 100;
}

.emphasise--secondary {
  color: rgb(75, 0, 128);
  font-weight: 700;
  letter-spacing: 100;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Helvetica", sans-serif;
  background-color: #f8f8f8;
}

/* Webkit Scrollbar custom styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

.cta {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 6rem !important;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.cta:hover {
  background-color: black;
}
.cta:active {
  transform: scale(0.95) translateY(6px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.scroll-down-arrow-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
@media (max-width: 1280px) {
  .scroll-down-arrow-container {
    left: 48%;
  }
}
@media (max-width: 1080px) {
  .scroll-down-arrow-container {
    display: none;
  }
}

.scroll-down-arrow {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
@media (max-width: 1440px) {
  .scroll-down-arrow {
    width: 110px;
  }
}
@media (max-width: 1280px) {
  .scroll-down-arrow {
    width: 103px;
  }
}
.scroll-down-arrow svg path {
  stroke: #191919;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  box-shadow: 0 2px 4px #7d7d7d;
  animation: bounce 1.4s infinite ease-in-out;
  width: 100%;
  height: 80%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4) !important;
  }
  50% {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
  }
}
/* Click down effect */
.scroll-down-arrow.clicked {
  transform: translateY(-5px);
}

.top-navbar {
  background-color: rgba(243, 243, 243, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.top-navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
}
@media (max-width: 1280px) {
  .top-navbar .nav-container {
    height: 34px;
  }
}
@media (max-width: 1080px) {
  .top-navbar .nav-container {
    display: none;
    padding: 0 20px;
    height: 36px;
  }
}
.top-navbar .nav-container .nav-logo {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
}
.top-navbar .nav-container .nav-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 30%;
}
.top-navbar .nav-container .nav-links a {
  color: #191919;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}
@media (max-width: 1280px) {
  .top-navbar .nav-container .nav-links a {
    font-size: 1.3rem;
  }
}
@media (max-width: 1080px) {
  .top-navbar .nav-container .nav-links a {
    font-size: 1.3rem;
  }
}
.top-navbar .nav-container .nav-links a:hover {
  color: #000000;
  font-weight: 600;
}

.hamburger-menu {
  display: none;
}
@media (max-width: 1080px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 16px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  .hamburger-menu .hamburger-icon span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
  }
}
@media (max-width: 1080px) {
  .hamburger-menu {
    top: 16px;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.8);
  backdrop-filter: blur(2px);
  z-index: 999;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
}
@media (max-width: 1280px) {
  .mobile-nav {
    display: block;
    position: fixed;
  }
  .mobile-nav.show {
    top: 0;
  }
  .mobile-nav .mobile-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    position: sticky;
    top: 0;
  }
  .mobile-nav .mobile-nav-container .nav-logo {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    margin-bottom: 40px;
  }
  .mobile-nav .mobile-nav-container .mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-nav .mobile-nav-container .mobile-nav-links a {
    color: #191919;
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 30px;
    transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
  }
  .mobile-nav .mobile-nav-container .mobile-nav-links a:hover {
    color: #000000;
    font-weight: 600;
  }
}

@media (max-width: 1080px) {
  .mobile--remove {
    display: none !important;
  }
}

.banner__section {
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 2560px) {
  .banner__section {
    max-height: 1500px;
  }
}
@media (max-width: 1920px) {
  .banner__section {
    max-height: 1080px;
  }
}
@media (max-width: 1440px) {
  .banner__section {
    height: 100vh;
    max-height: 900px;
  }
}
@media (max-width: 1280px) {
  .banner__section {
    height: 100vh;
    max-height: 800px;
  }
}
@media (max-width: 1080px) {
  .banner__section {
    height: 100vh;
    overflow: hidden;
    max-height: none;
    overflow-x: hidden;
  }
}
.banner__container {
  width: 90%;
  max-height: 1080px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 2560px) {
  .banner__container {
    max-width: 1800px;
  }
}
@media (max-width: 1920px) {
  .banner__container {
    width: 80%;
  }
}
@media (max-width: 1440px) {
  .banner__container {
    width: 84%;
  }
}
@media (max-width: 1280px) {
  .banner__container {
    width: 76%;
  }
}
@media (max-width: 1080px) {
  .banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -70px;
  }
}
.banner__heading {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 10px 0;
}
@media (max-width: 1440px) {
  .banner__heading {
    padding: 5px 0;
  }
}
@media (max-width: 1080px) {
  .banner__heading img {
    margin-top: -140px;
  }
}
.banner__heading--name {
  font-weight: 300;
  transform: scaleY(1.5);
  margin-top: 100px;
}
@media (max-width: 1440px) {
  .banner__heading--name {
    position: relative;
    margin-top: 46px;
    margin-left: 13px;
  }
}
@media (max-width: 1280px) {
  .banner__heading--name {
    margin-top: 94px;
    margin-left: 87px;
  }
}
@media (max-width: 1080px) {
  .banner__heading--name {
    height: 200px;
  }
}
.banner__tagline {
  font-size: 4.2rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  .banner__tagline {
    font-size: 2.1rem;
    margin-bottom: 19px;
  }
}
@media (max-width: 1280px) {
  .banner__tagline {
    font-size: 2rem;
    margin-bottom: 14px;
  }
}
@media (max-width: 1080px) {
  .banner__tagline {
    text-align: center;
    font-size: 2.4rem;
    margin-top: -120px;
    margin-bottom: 26px;
  }
}
.banner__row {
  display: flex;
  width: 100%;
}
@media (max-width: 1080px) {
  .banner__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.banner__row--2x {
  height: 25vh;
}
@media (max-width: 1080px) {
  .banner__row--2x {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 0px;
  }
}
.banner__row--1x {
  height: 12.5vh;
}
.banner__row--3x {
  height: 37.5vh;
}
.banner__box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 1080px) {
  .banner__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.banner__box--half {
  width: 50%;
}
@media (max-width: 1080px) {
  .banner__box--half {
    text-align: center;
    width: 91%;
  }
}
.banner__cta {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 70px 6px !important;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.banner__cta:active {
  transform: scale(0.95) translateY(3px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .banner__cta {
    padding: 5px 53px 6px !important;
    font-size: 1.6rem;
  }
}
@media (max-width: 1280px) {
  .banner__cta {
    padding: 4px 38px 5px !important;
  }
}
@media (max-width: 1080px) {
  .banner__cta {
    padding: 5px 38px 6px !important;
  }
}

#tagline-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 74%;
  width: 100%;
}
@media (max-width: 3480px) {
  #tagline-cta {
    margin-top: 60px;
  }
}
@media (max-width: 1440px) {
  #tagline-cta {
    margin-left: -26px;
    margin-top: -28px;
  }
}
@media (max-width: 1280px) {
  #tagline-cta {
    margin-top: 10px;
  }
}
@media (max-width: 1080px) {
  #tagline-cta {
    align-items: center;
    margin-left: 0;
  }
}

#banner__box--image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner__box--image img {
  height: 145%;
  width: auto;
}
@media (max-width: 1280px) {
  #banner__box--image img {
    margin-left: -42px;
    bottom: 10px;
    position: relative;
    height: 165%;
    max-height: 500px;
  }
}
@media (max-width: 1080px) {
  #banner__box--image img {
    height: 138%;
    margin-left: 20px;
    margin-top: -40px;
  }
}

.countdown__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.countdown__timer--third {
  position: relative;
  max-width: 100%;
  font-size: 8rem;
  color: #f75200;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
@media (max-width: 1440px) {
  .countdown__timer--third {
    font-size: 6rem;
  }
}
@media (max-width: 1280px) {
  .countdown__timer--third {
    margin-top: -26px;
    font-size: 4.8rem;
  }
}
@media (max-width: 1080px) {
  .countdown__timer--third {
    margin-top: -24px;
    font-size: 2.9rem;
  }
}
.countdown__timer--third_time-unit {
  display: inline-block;
  width: 2em;
  text-align: center;
}

#portrait-wedding {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 23%;
  height: auto;
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
  image-rendering: pixelated;
}
@media (max-width: 1440px) {
  #portrait-wedding {
    width: 25%;
  }
}
@media (max-width: 1280px) {
  #portrait-wedding {
    width: 22%;
  }
}
@media (max-width: 1080px) {
  #portrait-wedding {
    display: none;
  }
}
#portrait-wedding img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top left;
  border-radius: 4px;
}

#portrait-party {
  position: absolute;
  top: -13%;
  left: 35%;
  z-index: -1;
  width: 23%;
  height: auto;
}
@media (max-width: 1440px) {
  #portrait-party {
    top: -7%;
  }
}
@media (max-width: 1280px) {
  #portrait-party {
    top: -7%;
    left: 34%;
    width: 20%;
  }
}
@media (max-width: 1080px) {
  #portrait-party {
    display: none;
  }
}
#portrait-party img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#landscape-trip {
  position: absolute;
  top: 20%;
  right: 0;
  width: 33%;
  height: auto;
  z-index: -1;
}
@media (max-width: 1440px) {
  #landscape-trip {
    width: 34%;
  }
}
@media (max-width: 1280px) {
  #landscape-trip {
    width: 33%;
    top: 21%;
  }
}
@media (max-width: 1080px) {
  #landscape-trip {
    display: none;
  }
}
#landscape-trip img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#landscape-festival {
  position: absolute;
  bottom: 6%;
  right: 13%;
  width: 33%;
  height: auto;
  z-index: -2;
}
@media (max-width: 1440px) {
  #landscape-festival {
    bottom: 11%;
    right: 13%;
    width: 35%;
  }
}
@media (max-width: 1280px) {
  #landscape-festival {
    bottom: 8%;
    right: 14%;
    width: 32%;
  }
}
@media (max-width: 1080px) {
  #landscape-festival {
    display: none;
  }
}
#landscape-festival img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.intro {
  padding: 0;
}
@media (max-width: 1920px) {
  .intro__section {
    max-height: 1080px;
  }
}
@media (max-width: 1440px) {
  .intro__section {
    height: 100vh;
    max-height: 900px;
  }
}
@media (max-width: 1280px) {
  .intro__section {
    padding-top: 40px;
    height: 100vh;
    max-height: 1100px;
  }
}
@media (max-width: 1080px) {
  .intro__section {
    height: auto;
    max-height: none;
    padding-bottom: 280px;
    padding-top: 100px;
  }
}
.intro__container {
  height: 100vh;
  max-height: 1080px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .intro__container {
    padding-top: 40px;
  }
}
@media (max-width: 1280px) {
  .intro__container {
    padding-top: 30px;
  }
}
@media (max-width: 1080px) {
  .intro__container {
    padding-top: 200px;
  }
}
.intro__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  position: relative;
  left: -4%;
}
@media (max-width: 1440px) {
  .intro__content {
    left: -5%;
  }
}
@media (max-width: 1280px) {
  .intro__content {
    width: 76%;
  }
}
@media (max-width: 1080px) {
  .intro__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 1080px) {
  .intro__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0%;
  }
}
.intro__heading {
  max-width: 1200px !important;
  margin-bottom: 100px;
}
@media (max-width: 1440px) {
  .intro__heading {
    margin-bottom: 70px;
  }
}
@media (max-width: 1280px) {
  .intro__heading {
    height: 100px;
    margin-bottom: 10px;
  }
}
.intro__title {
  margin-bottom: 40px;
  position: relative;
  left: 0;
}
@media (max-width: 1440px) {
  .intro__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 1080px) {
  .intro__title {
    margin-bottom: 30px;
  }
}
.intro__image {
  flex: 1;
  max-width: 33.333%;
  text-align: right;
  padding-right: 40px;
}
@media (max-width: 1440px) {
  .intro__image {
    padding-right: 24px;
    margin-bottom: 23px;
  }
}
@media (max-width: 1080px) {
  .intro__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.intro__image img {
  max-width: 90%;
  height: auto;
}
@media (max-width: 1440px) {
  .intro__image img {
    max-width: 70%;
  }
}
@media (max-width: 1280px) {
  .intro__image img {
    max-width: 76%;
  }
}
@media (max-width: 1080px) {
  .intro__image img {
    max-width: 74%;
    margin-left: -28px;
  }
}
.intro__text {
  flex: 2;
  max-width: 66.666%;
  margin-bottom: 8%;
}
@media (max-width: 1440px) {
  .intro__text {
    max-width: 60%;
  }
}
@media (max-width: 1080px) {
  .intro__text {
    max-width: 100%;
    display: contents;
  }
}
.intro__description {
  font-size: 2rem;
  color: #191919;
  margin-bottom: 40px;
  line-height: 1.5;
  text-align: justify;
}
@media (max-width: 1440px) {
  .intro__description {
    font-size: 1.8rem;
  }
}
@media (max-width: 1280px) {
  .intro__description {
    font-size: 1.6rem;
  }
}
.intro__cta {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 70px 6px !important;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.intro__cta:active {
  transform: scale(0.95) translateY(3px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .intro__cta {
    font-size: 2rem;
  }
}
@media (max-width: 1280px) {
  .intro__cta {
    font-size: 1.6rem;
    padding: 4px 52px 5px !important;
  }
}
@media (max-width: 1080px) {
  .intro__cta {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 38px 6px;
    width: 130px;
  }
}

/*
  Key features Section
  */
.key-features {
  padding-top: 0;
  overflow: visible;
}
.key-features__section {
  height: 173vh;
  position: relative;
  overflow: visible;
  z-index: 888;
  background-image: url("../img/key-features-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 1920px) {
  .key-features__section {
    height: 137vh;
    max-height: 1470px;
  }
}
@media (max-width: 1440px) {
  .key-features__section {
    background-size: 100% auto;
    height: 136vh;
    max-height: 1100px;
  }
}
@media (max-width: 1280px) {
  .key-features__section {
    height: 146vh;
    max-height: 1000px;
    padding-top: 80px;
  }
}
@media (max-width: 1080px) {
  .key-features__section {
    height: auto;
    max-height: none;
    background-repeat: repeat;
    padding-bottom: 4.4rem;
    padding-top: 0px;
  }
}
.key-features__container {
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .key-features__container {
    padding-top: 0;
  }
}
@media (max-width: 1080px) {
  .key-features__container {
    height: auto;
  }
}
.key-features__anchor {
  display: flex;
  align-items: start;
  height: 130px;
  width: 20px;
}
@media (max-width: 1280px) {
  .key-features__anchor {
    height: 70px;
  }
}
@media (max-width: 1080px) {
  .key-features__anchor {
    margin-top: 3rem;
  }
}
.key-features__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  width: 80%;
  max-width: 1200px;
  z-index: 1;
}
@media (max-width: 1440px) {
  .key-features__content {
    width: 78%;
  }
}
@media (max-width: 1280px) {
  .key-features__content {
    width: 86%;
  }
}
.key-features__heading {
  margin-bottom: 150px;
  max-width: 1200px !important;
}
@media (max-width: 1440px) {
  .key-features__heading {
    margin-bottom: 90px;
  }
}
@media (max-width: 1280px) {
  .key-features__heading {
    height: 100px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1080px) {
  .key-features__heading {
    margin-bottom: 3rem;
    text-align: center;
  }
}
.key-features__box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: -2px 7px 24px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1440px) {
  .key-features__box {
    padding: 34px;
  }
}
@media (max-width: 1280px) {
  .key-features__box {
    padding: 24px;
  }
}
.key-features__box-title {
  margin-bottom: 28px;
}
@media (max-width: 1280px) {
  .key-features__box-title {
    font-size: 1.9rem;
  }
}
.key-features__box-description {
  font-size: 1.6rem;
  color: #191919;
  line-height: 1.4;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .key-features__box-description {
    font-size: 1.6rem;
    line-height: 1.3;
  }
}
@media (max-width: 1080px) {
  .key-features__box-description {
    line-height: 1.5;
  }
}

#key-features--heading h2 {
  color: #ffffff !important;
}

.sign-up__section {
  height: 90vh;
}
@media (max-width: 1920px) {
  .sign-up__section {
    max-height: 1080px;
  }
}
@media (max-width: 1280px) {
  .sign-up__section {
    height: 98vh;
    max-height: 900px;
  }
}
@media (max-width: 1080px) {
  .sign-up__section {
    max-height: none;
    height: auto;
  }
}
.sign-up__container {
  height: 100%;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .sign-up__container {
    height: 88vh;
  }
}
@media (max-width: 1280px) {
  .sign-up__container {
    width: 78%;
  }
}
@media (max-width: 1080px) {
  .sign-up__container {
    height: auto;
    width: 100%;
  }
}
.sign-up__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  max-width: 1320px;
  position: relative;
}
@media (max-width: 1920px) {
  .sign-up__content {
    width: 88%;
  }
}
@media (max-width: 1440px) {
  .sign-up__content {
    width: 84%;
    left: 3%;
    margin-top: 60px;
  }
}
@media (max-width: 1080px) {
  .sign-up__content {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    left: 0%;
    margin-top: 0px;
  }
}
.sign-up__heading {
  margin-bottom: 120px;
}
@media (max-width: 1440px) {
  .sign-up__heading {
    margin-bottom: 32px;
  }
}
@media (max-width: 1280px) {
  .sign-up__heading {
    height: 120px;
    margin-bottom: 0;
    margin-top: 46px;
  }
}
@media (max-width: 1080px) {
  .sign-up__heading {
    text-align: center;
    margin-top: 26px;
  }
}
.sign-up__image, .sign-up__text {
  position: relative;
}
.sign-up__image {
  flex: 1;
  max-width: 33.333%;
  text-align: right;
  padding-right: 40px;
}
@media (max-width: 1280px) {
  .sign-up__image {
    padding-right: 0px;
    text-align: right;
  }
}
@media (max-width: 1280px) and (max-width: 1080px) {
  .sign-up__image {
    max-width: 100%;
  }
}
.sign-up__image img {
  max-width: 97%;
  height: auto;
}
@media (max-width: 1280px) {
  .sign-up__image img {
    max-width: 80%;
    text-align: left;
  }
}
@media (max-width: 1080px) {
  .sign-up__image img {
    max-width: 90%;
  }
}
.sign-up__text {
  flex: 2;
  max-width: 66.666%;
  margin-bottom: 20%;
}
@media (max-width: 1440px) {
  .sign-up__text {
    margin-bottom: 15%;
  }
}
@media (max-width: 1280px) {
  .sign-up__text {
    margin-bottom: 12%;
  }
}
@media (max-width: 1080px) {
  .sign-up__text {
    max-width: none;
  }
}
.sign-up__description {
  font-size: 2rem;
  color: #191919;
  margin-bottom: 40px;
  line-height: 1.5;
  text-align: justify;
  width: 100%;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .sign-up__description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 46px;
  }
}
.sign-up__form {
  display: flex;
  margin: 1rem 0;
  width: 80%;
  border: 1px solid #191919;
  border-radius: 40px;
}
@media (max-width: 1280px) {
  .sign-up__form {
    height: 32px;
  }
}
@media (max-width: 1080px) {
  .sign-up__form {
    width: 100%;
    height: 30px;
  }
}
.sign-up__form input,
.sign-up__form button {
  text-decoration: none;
  padding: 8px 56px;
  font-size: 1.8rem;
  cursor: pointer;
  border: 2px black;
  outline: none;
  border-radius: 40px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  font-family: "Inter", "Helvetica", sans-serif;
}
@media (max-width: 1440px) {
  .sign-up__form input,
  .sign-up__form button {
    font-size: 1.4rem;
    padding: 6px 56px;
  }
}
@media (max-width: 1280px) {
  .sign-up__form input,
  .sign-up__form button {
    font-size: 1.4rem;
    padding: 0px 32px 0px;
  }
}
@media (max-width: 1080px) {
  .sign-up__form input,
  .sign-up__form button {
    font-size: 1.2rem;
    padding: 0px 20px;
  }
}
.sign-up__form input {
  background-color: transparent;
  border: 2px #191919;
  color: #000000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
}
@media (max-width: 1080px) {
  .sign-up__form input {
    width: 30%;
  }
}
.sign-up__form button {
  background-color: #000000;
  color: #f8f8f8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.sign-up__form button:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .sign-up__form button {
    padding: 8px 32px 10px 32px;
  }
}
@media (max-width: 1280px) {
  .sign-up__form button {
    font-size: 1.2rem;
    padding: 0px 32px 0px;
  }
}
@media (max-width: 1080px) {
  .sign-up__form button {
    font-size: 1.2rem;
    width: 28%;
    padding: 0px 17px 0px;
  }
}
.sign-up__form button:hover {
  background-color: black;
}
.sign-up__bottom-navbar {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #7d7d7d;
}
@media (max-width: 1280px) {
  .sign-up__bottom-navbar {
    height: 40px;
  }
}
.sign-up__bottom-navbar .nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
}
.sign-up__bottom-navbar .nav-container .nav-links {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 33%;
}
.sign-up__bottom-navbar .nav-container .nav-links a {
  text-decoration: none;
  color: #191919;
  font-size: 1.6rem;
  margin-right: 20px;
  margin-right: 40%;
}
@media (max-width: 1440px) {
  .sign-up__bottom-navbar .nav-container .nav-links a {
    font-size: 1.4rem;
  }
}
.sign-up__bottom-navbar .nav-container .nav-links a:last-child {
  margin-right: 0;
}
.sign-up__bottom-navbar .nav-container .nav-links a:hover {
  color: #000000;
  font-weight: bold;
}
@media (max-width: 1280px) {
  .sign-up__bottom-navbar .nav-container .nav-links a {
    font-size: 1.2rem;
  }
}
.sign-up__bottom-navbar .nav-container .nav-links a:hover {
  color: #000000;
  font-weight: bold;
}

.countdown__timer--second {
  position: absolute;
  top: 33%;
  left: 35%;
  max-width: 33.333%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #f75200;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
.countdown__timer--second_time-unit {
  display: inline-block;
  width: 2em;
  text-align: center;
}
@media (max-width: 1440px) {
  .countdown__timer--second {
    top: 31%;
    left: 37%;
  }
}
@media (max-width: 1280px) {
  .countdown__timer--second {
    top: 31%;
    left: 45%;
    font-size: 1.2rem;
  }
}
@media (max-width: 1080px) {
  .countdown__timer--second {
    top: 32%;
    left: 39%;
    font-size: 1.7rem;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
