@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  font-size: 10px;
}

h1 {
  font-size: 15rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h1 {
    font-size: 7.8rem;
    transform: scaleY(1.4);
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 12.5rem;
    transform: scaleY(1.5);
  }
}

h2 {
  font-size: 3.6rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #191919;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 3.2rem !important;
  }
}
@media (max-width: 1280px) {
  h2 {
    font-size: 3.4rem;
  }
}
@media (max-width: 1080px) {
  h2 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
}

h3 {
  font-size: 2.8rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h3 {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 1080px) {
  h3 {
    font-size: 2.4rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
  font-weight: bold;
  font-size: 1.8rem !important;
}
@media (max-width: 1440px) {
  h4 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1080px) {
  h4 {
    font-size: 2rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h5 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem !important;
}
@media (max-width: 1440px) {
  h5 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1080px) {
  h5 {
    font-size: 1.6rem !important;
  }
}

p {
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
}

.emphasise--primary {
  color: #f75200;
  font-weight: 700;
  letter-spacing: 100;
}

.emphasise--secondary {
  color: rgb(75, 0, 128);
  font-weight: 700;
  letter-spacing: 100;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 15rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h1 {
    font-size: 7.8rem;
    transform: scaleY(1.4);
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 12.5rem;
    transform: scaleY(1.5);
  }
}

h2 {
  font-size: 3.6rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #191919;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 3.2rem !important;
  }
}
@media (max-width: 1280px) {
  h2 {
    font-size: 3.4rem;
  }
}
@media (max-width: 1080px) {
  h2 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
}

h3 {
  font-size: 2.8rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h3 {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 1080px) {
  h3 {
    font-size: 2.4rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
  font-weight: bold;
  font-size: 1.8rem !important;
}
@media (max-width: 1440px) {
  h4 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1080px) {
  h4 {
    font-size: 2rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h5 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem !important;
}
@media (max-width: 1440px) {
  h5 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1080px) {
  h5 {
    font-size: 1.6rem !important;
  }
}

p {
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
}

.emphasise--primary {
  color: #f75200;
  font-weight: 700;
  letter-spacing: 100;
}

.emphasise--secondary {
  color: rgb(75, 0, 128);
  font-weight: 700;
  letter-spacing: 100;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 15rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h1 {
    font-size: 7.8rem;
    transform: scaleY(1.4);
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 12.5rem;
    transform: scaleY(1.5);
  }
}

h2 {
  font-size: 3.6rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #191919;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 3.2rem !important;
  }
}
@media (max-width: 1280px) {
  h2 {
    font-size: 3.4rem;
  }
}
@media (max-width: 1080px) {
  h2 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
}

h3 {
  font-size: 2.8rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h3 {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 1080px) {
  h3 {
    font-size: 2.4rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
  font-weight: bold;
  font-size: 1.8rem !important;
}
@media (max-width: 1440px) {
  h4 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1080px) {
  h4 {
    font-size: 2rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h5 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem !important;
}
@media (max-width: 1440px) {
  h5 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1080px) {
  h5 {
    font-size: 1.6rem !important;
  }
}

p {
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
}

.emphasise--primary {
  color: #f75200;
  font-weight: 700;
  letter-spacing: 100;
}

.emphasise--secondary {
  color: rgb(75, 0, 128);
  font-weight: 700;
  letter-spacing: 100;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 15rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h1 {
    font-size: 7.8rem;
    transform: scaleY(1.4);
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 12.5rem;
    transform: scaleY(1.5);
  }
}

h2 {
  font-size: 3.6rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #191919;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 3.2rem !important;
  }
}
@media (max-width: 1280px) {
  h2 {
    font-size: 3.4rem;
  }
}
@media (max-width: 1080px) {
  h2 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
}

h3 {
  font-size: 2.8rem !important;
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  h3 {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 1080px) {
  h3 {
    font-size: 2.4rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h4 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: rgb(75, 0, 128);
  font-weight: bold;
  font-size: 1.8rem !important;
}
@media (max-width: 1440px) {
  h4 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1080px) {
  h4 {
    font-size: 2rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h5 {
  font-family: "Inter", "Helvetica", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem !important;
}
@media (max-width: 1440px) {
  h5 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1080px) {
  h5 {
    font-size: 1.6rem !important;
  }
}

p {
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
}

.emphasise--primary {
  color: #f75200;
  font-weight: 700;
  letter-spacing: 100;
}

.emphasise--secondary {
  color: rgb(75, 0, 128);
  font-weight: 700;
  letter-spacing: 100;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

html {
  overflow-y: scroll;
}

.main-content {
  margin-left: 270px;
  padding: 20px;
  width: calc(100% - 270px);
  min-height: calc(100vh - 46px) !important;
}
.main-content__heading {
  margin-bottom: 60px;
}
.main-content__heading h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 1080px) {
  .main-content {
    width: 100%;
    margin-left: 0;
    padding: 50px 20px 20px 20px;
  }
}

.content-area {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.content-area h4 {
  margin-bottom: 30px;
}
.content-area h5 {
  margin-bottom: 10px;
}
.content-area ul {
  font-size: 1.6rem !important;
}
.content-area ul li {
  margin-bottom: 12px;
}
.content-area__section {
  margin-bottom: 60px;
}
.content-area__section p {
  margin-right: 20px;
  font-weight: normal;
}
.content-area__section a {
  color: #007bff;
}
.content-area__section a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #007bff;
}
.content-area__section__sub {
  margin-bottom: 30px;
}

.help-section .section-title {
  font-size: 1.6rem !important;
  margin-bottom: 1.4rem;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 0.5rem;
}
.help-section .section-content {
  padding-left: 0;
}
.help-section ul {
  list-style-type: none;
  padding-left: 0;
}
.help-section ul li {
  margin-bottom: 0.5rem;
}
.help-section ul li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 1.4rem;
}
@media (max-width: 1080px) {
  .help-section ul li a {
    font-size: 1.6rem;
  }
}
.help-section ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.hidden {
  display: none;
}

.please-note {
  color: #f75200 !important;
}

.faq-container {
  padding: 20px;
}

.faq-section {
  margin-bottom: 15px;
}

.content-area__ul {
  list-style-type: none;
  padding: 0;
}
.content-area__ul li {
  margin-bottom: 10px;
  margin-left: 20px;
}
.content-area__ul li .dropdown-btn {
  background-color: rgba(243, 243, 243, 0.8);
  padding: 10px;
  cursor: pointer;
  border: none !important;
  border-radius: 20px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}
.content-area__ul li .dropdown-btn:focus {
  outline: none !important;
}
.content-area__ul li .dropdown-btn:hover {
  background-color: rgb(243, 243, 243);
}
.content-area__ul li .dropdown-btn.active {
  border-radius: 20px 20px 0 0;
}
.content-area__ul li .dropdown-btn strong {
  display: inline-block;
  width: 100%;
}
.content-area__ul li .dropdown-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 10px;
  border-radius: 0 0 20px 20px;
  background-color: rgb(243, 243, 243);
  transition: max-height 0.1s ease-out, opacity 0.1s ease-out, padding 0.3s ease-out;
}
.content-area__ul li .dropdown-content p {
  padding-bottom: 8px;
}
.content-area__ul li .dropdown-content ul {
  padding-bottom: 8px;
}
.content-area__ul li .dropdown-content.active {
  opacity: 1;
  max-height: 500px;
  padding: 10px;
  transition: max-height 0.1s ease-in, opacity 0.1s ease-in, padding 0.3s ease-in;
}

.highlight {
  font-weight: bold;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Helvetica", sans-serif;
  background-color: #f8f8f8;
}

html {
  overflow-y: scroll;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-decoration: none;
}
ul li {
  margin-bottom: 0.5rem;
}
ul li a {
  color: #191919 !important;
  text-decoration: none;
  background-color: transparent;
}
ul li a:hover {
  text-decoration: underline;
}

/*
Webkit Scrollbar custom styles 
*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

.cta {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 0.7rem 6rem;
  border-radius: 40px;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease-in-out;
}
.cta:hover {
  transform: scale(1.01);
}
.cta:active {
  transform: scale(0.99) translateY(1px);
}
@media (max-width: 1280px) {
  .cta {
    padding: 0.8rem 6rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 1080px) {
  .cta {
    padding: 0.8rem 5rem;
    font-size: 1.6rem;
  }
}

.scroll-down-arrow-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
@media (max-width: 1280px) {
  .scroll-down-arrow-container {
    left: 48%;
    bottom: 40px;
  }
}
@media (max-width: 1080px) {
  .scroll-down-arrow-container {
    display: none;
  }
}

.scroll-down-arrow {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
@media (max-width: 1440px) {
  .scroll-down-arrow {
    width: 110px;
  }
}
@media (max-width: 1280px) {
  .scroll-down-arrow {
    width: 103px;
  }
}
.scroll-down-arrow svg path {
  stroke: #191919;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  box-shadow: 0 2px 4px #7d7d7d;
  animation: bounce 1.4s infinite ease-in-out;
  width: 100%;
  height: 80%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4) !important;
  }
  50% {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
  }
}
/*
Click down effect
*/
.scroll-down-arrow.clicked {
  transform: translateY(-5px);
}

/*
Top Nav Bar
*/
.top-navbar {
  background-color: rgba(243, 243, 243, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.top-navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 56px;
}
@media (max-width: 1280px) {
  .top-navbar .nav-container {
    height: 34px;
  }
}
@media (max-width: 1080px) {
  .top-navbar .nav-container {
    display: none;
    padding: 0 20px;
    height: 36px;
  }
}
.top-navbar .nav-container .nav-logo {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
}
.top-navbar .nav-container .nav-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 50%;
}
.top-navbar .nav-container .nav-links a {
  color: #191919;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}
@media (max-width: 1280px) {
  .top-navbar .nav-container .nav-links a {
    font-size: 1.3rem;
  }
}
@media (max-width: 1080px) {
  .top-navbar .nav-container .nav-links a {
    font-size: 1.3rem;
  }
}
.top-navbar .nav-container .nav-links a:hover {
  color: #000000;
  font-weight: 600;
}
.top-navbar .nav-container .social-links {
  display: flex;
  align-items: center;
}
.top-navbar .nav-container .social-links__icon {
  height: 2.4rem;
  width: auto;
  margin-right: 2rem;
  text-decoration: none;
}
.top-navbar .nav-container .social-links__icon:hover {
  height: 2.5rem;
}
.top-navbar .nav-container .social-links__icon:active {
  height: 2.4rem;
}
.top-navbar .nav-container .social-links a:last-child {
  margin-right: 0;
}

.logo-icon {
  width: 40px;
  height: 40px;
}
@media (max-width: 1280px) {
  .logo-icon {
    height: 28px;
    width: 28px;
  }
}
@media (max-width: 1080px) {
  .logo-icon {
    height: 48px;
    width: 48px;
  }
}

/*
Hamburger Menu
*/
.hamburger-menu {
  display: none;
}
@media (max-width: 1080px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    top: 16px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  .hamburger-menu .hamburger-icon {
    transition: transform 0.2s ease-in-out;
  }
  .hamburger-menu .hamburger-icon:active {
    transform: scale(0.99) translateY(1px);
  }
  .hamburger-menu .hamburger-icon span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
  }
}
@media (max-width: 1080px) {
  .hamburger-menu {
    top: 16px;
  }
}

/*
Mobile Navigation
*/
.mobile-nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.8);
  backdrop-filter: blur(2px);
  z-index: 999;
  transition: top 0.3s ease-in-out;
  overflow: hidden;
}
.mobile-nav.show {
  top: 0;
}
@media (max-width: 1280px) {
  .mobile-nav {
    display: block;
  }
  .mobile-nav .mobile-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    position: relative;
  }
  .mobile-nav .mobile-nav-container .nav-logo {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    margin-bottom: 40px;
  }
  .mobile-nav .mobile-nav-container .mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-nav .mobile-nav-container .mobile-nav-links a {
    color: #191919;
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 30px;
    transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
  }
  .mobile-nav .mobile-nav-container .mobile-nav-links a:hover {
    color: #000000;
    font-weight: 600;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.mobile-nav-social-links {
  display: flex;
  align-items: center;
}
.mobile-nav-social-links__icon {
  height: 3.6rem;
  width: auto;
  margin: 2rem;
  text-decoration: none;
}
.mobile-nav-social-links__icon:hover {
  height: 3.5rem;
}
.mobile-nav-social-links__icon:active {
  height: 3.5rem;
}

@media (max-width: 1080px) {
  .mobile--remove {
    display: none !important;
  }
}

.sidebar {
  height: 100vh;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  overflow-y: auto;
}
@media (max-width: 1080px) {
  .sidebar {
    display: none;
  }
}

.sidebar-mobile {
  display: none;
}
@media (max-width: 1080px) {
  .sidebar-mobile {
    display: block;
    height: 100vh;
    width: 260px;
    position: fixed;
    left: -260px;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    overflow-y: auto;
    background-color: rgba(243, 243, 243, 0.9);
    transition: left 0.3s ease-in-out;
    backdrop-filter: blur(2px);
    z-index: 999;
  }
}
.sidebar-mobile.show {
  left: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.help-menu {
  display: none;
}
@media (max-width: 1080px) {
  .help-menu {
    display: block;
    position: fixed;
    top: 60px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  .help-menu .help-icon span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
  }
  .help-menu .help-icon img {
    width: 26px;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  .help-menu .help-icon img:active {
    transform: scale(0.99) translateY(1px);
  }
}

.banner__section {
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 2560px) {
  .banner__section {
    max-height: 1500px;
  }
}
@media (max-width: 1920px) {
  .banner__section {
    max-height: 1080px;
  }
}
@media (max-width: 1440px) {
  .banner__section {
    height: 100%;
    max-height: 900px;
  }
}
@media (max-width: 1280px) {
  .banner__section {
    height: 100%;
    max-height: 800px;
  }
}
@media (max-width: 1080px) {
  .banner__section {
    height: 100%;
    overflow: hidden;
    max-height: none;
    overflow-x: hidden;
    height: auto;
    max-height: none;
    margin-top: 30px;
  }
}
.banner__container {
  width: 90%;
  max-height: 1080px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 2560px) {
  .banner__container {
    max-width: 1800px;
  }
}
@media (max-width: 1920px) {
  .banner__container {
    width: 80%;
  }
}
@media (max-width: 1440px) {
  .banner__container {
    width: 84%;
  }
}
@media (max-width: 1280px) {
  .banner__container {
    width: 76%;
  }
}
@media (max-width: 1080px) {
  .banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -70px;
  }
}
.banner__heading {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 10px 0;
}
@media (max-width: 1440px) {
  .banner__heading {
    padding: 5px 0;
  }
}
@media (max-width: 1080px) {
  .banner__heading {
    margin-bottom: 20px;
  }
}
@media (max-width: 1080px) {
  .banner__heading img {
    margin-top: -140px;
  }
}
.banner__heading--name {
  font-weight: 300;
  transform: scaleY(1.5);
  margin-top: 100px;
}
@media (max-width: 1440px) {
  .banner__heading--name {
    position: relative;
    margin-top: 46px;
    margin-left: 13px;
  }
}
@media (max-width: 1280px) {
  .banner__heading--name {
    margin-top: 94px;
    margin-left: 87px;
  }
}
@media (max-width: 1080px) {
  .banner__heading--name {
    height: 200px;
  }
}
.banner__tagline {
  font-size: 4.5rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
  color: rgb(75, 0, 128);
}
@media (max-width: 1440px) {
  .banner__tagline {
    font-size: 2.1rem;
    margin-bottom: 19px;
  }
}
@media (max-width: 1280px) {
  .banner__tagline {
    font-size: 3rem;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.148);
    padding: 6px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
  }
}
@media (max-width: 1080px) {
  .banner__tagline {
    text-align: center;
    font-size: 2.4rem;
    margin-top: -120px;
    margin-bottom: 26px;
  }
}
.banner__row {
  display: flex;
  width: 100%;
}
@media (max-width: 1080px) {
  .banner__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.banner__row--2x {
  height: 25vh;
}
@media (max-width: 1080px) {
  .banner__row--2x {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 0px;
  }
}
.banner__row--1x {
  height: 12.5vh;
}
.banner__row--3x {
  height: 37.5vh;
}
.banner__box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 1080px) {
  .banner__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.banner__box--half {
  width: 50%;
}
@media (max-width: 1080px) {
  .banner__box--half {
    text-align: center;
    width: 91%;
  }
}
.banner__icon {
  position: absolute;
  right: 50px;
  bottom: 6%;
  height: 150px;
  position: fixed;
  z-index: 8888;
  transition: transform 0.2s ease-in-out;
}
.banner__icon:hover {
  transform: scale(1.01);
}
.banner__icon:active {
  transform: scale(0.99) translateY(1px);
}
@media (max-width: 1280px) {
  .banner__icon {
    height: 90px;
    right: 36px;
  }
}
@media (max-width: 1080px) {
  .banner__icon {
    height: 50px;
    right: 10px;
    bottom: 10px;
  }
}

#tagline-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 74%;
  width: 100%;
}
@media (max-width: 3480px) {
  #tagline-cta {
    margin-top: 60px;
  }
}
@media (max-width: 1440px) {
  #tagline-cta {
    margin-left: -26px;
    margin-top: -28px;
  }
}
@media (max-width: 1280px) {
  #tagline-cta {
    margin-top: 16px;
    margin-left: -54px;
  }
}
@media (max-width: 1080px) {
  #tagline-cta {
    align-items: center;
    margin-left: 0;
  }
}

#banner__box--image {
  height: 106%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-top: 80px;
  max-height: 480px;
}
@media (max-width: 1280px) {
  #banner__box--image {
    height: 130%;
    margin-top: 40px;
    max-height: 380px;
  }
}
@media (max-width: 1080px) {
  #banner__box--image {
    height: 120%;
  }
}
#banner__box--image img {
  height: 100%;
  width: auto;
}
@media (max-width: 1280px) {
  #banner__box--image img {
    margin-left: -42px;
    position: relative;
    height: 100%;
    max-height: 500px;
  }
}
@media (max-width: 1080px) {
  #banner__box--image img {
    height: 80%;
    margin-left: 50px;
    margin-top: -40px;
  }
}

.countdown__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.countdown__timer--third {
  position: relative;
  max-width: 100%;
  font-size: 8rem;
  color: #f75200;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
@media (max-width: 1440px) {
  .countdown__timer--third {
    font-size: 6rem;
  }
}
@media (max-width: 1280px) {
  .countdown__timer--third {
    margin-top: -26px;
    font-size: 4.6rem;
  }
}
@media (max-width: 1080px) {
  .countdown__timer--third {
    margin-top: -24px;
    font-size: 2.9rem;
  }
}
.countdown__timer--third_time-unit {
  display: inline-block;
  width: 2em;
  text-align: center;
}

#portrait-wedding {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 23%;
  height: auto;
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
  image-rendering: pixelated;
}
@media (max-width: 1440px) {
  #portrait-wedding {
    width: 25%;
  }
}
@media (max-width: 1280px) {
  #portrait-wedding {
    width: 22%;
  }
}
@media (max-width: 1080px) {
  #portrait-wedding {
    display: none;
  }
}
#portrait-wedding img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top left;
  border-radius: 4px;
}

#portrait-party {
  position: absolute;
  top: -13%;
  left: 35%;
  z-index: -1;
  width: 23%;
  height: auto;
}
@media (max-width: 1440px) {
  #portrait-party {
    top: -7%;
  }
}
@media (max-width: 1280px) {
  #portrait-party {
    top: -7%;
    left: 34%;
    width: 20%;
  }
}
@media (max-width: 1080px) {
  #portrait-party {
    display: none;
  }
}
#portrait-party img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#landscape-trip {
  position: absolute;
  top: 20%;
  right: 0;
  width: 33%;
  height: auto;
  z-index: 666;
}
@media (max-width: 1440px) {
  #landscape-trip {
    width: 34%;
  }
}
@media (max-width: 1280px) {
  #landscape-trip {
    width: 33%;
    top: 21%;
  }
}
@media (max-width: 1080px) {
  #landscape-trip {
    display: none;
  }
}
#landscape-trip img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#landscape-festival {
  position: absolute;
  bottom: 6%;
  right: 13%;
  width: 33%;
  height: auto;
  z-index: -2;
}
@media (max-width: 1440px) {
  #landscape-festival {
    bottom: 11%;
    right: 13%;
    width: 35%;
  }
}
@media (max-width: 1280px) {
  #landscape-festival {
    bottom: 8%;
    right: 14%;
    width: 32%;
  }
}
@media (max-width: 1080px) {
  #landscape-festival {
    display: none;
  }
}
#landscape-festival img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.intro {
  padding: 0;
  max-height: 80px;
}
@media (max-width: 1920px) {
  .intro__section {
    max-height: 1080px;
  }
}
@media (max-width: 1440px) {
  .intro__section {
    height: 100%;
    max-height: 900px;
  }
}
@media (max-width: 1280px) {
  .intro__section {
    padding-top: 40px;
    height: 100%;
    max-height: 1100px;
  }
}
@media (max-width: 1080px) {
  .intro__section {
    height: auto;
    max-height: none;
    padding-bottom: 200px;
    padding-top: 100px;
  }
}
.intro__container {
  height: 100%;
  max-height: 1080px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .intro__container {
    padding-top: 40px;
  }
}
@media (max-width: 1280px) {
  .intro__container {
    padding-top: 30px;
  }
}
@media (max-width: 1080px) {
  .intro__container {
    padding-top: 60px;
  }
}
.intro__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  position: relative;
  left: -4%;
}
@media (max-width: 1440px) {
  .intro__content {
    left: -5%;
  }
}
@media (max-width: 1280px) {
  .intro__content {
    width: 76%;
  }
}
@media (max-width: 1080px) {
  .intro__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 1080px) {
  .intro__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0%;
  }
}
.intro__heading {
  max-width: 1200px !important;
  margin-bottom: 100px;
}
@media (max-width: 1440px) {
  .intro__heading {
    margin-bottom: 70px;
  }
}
@media (max-width: 1280px) {
  .intro__heading {
    height: 100px;
    margin-bottom: 10px;
  }
}
.intro__title {
  margin-bottom: 40px;
  position: relative;
  left: 0;
}
@media (max-width: 1440px) {
  .intro__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 1080px) {
  .intro__title {
    margin-bottom: 30px;
  }
}
.intro__image {
  flex: 1;
  text-align: right;
  padding-right: 40px;
  max-height: 600px;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
.intro__image img {
  max-height: 100%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
@media (max-width: 1440px) {
  .intro__image {
    padding-right: 24px;
    margin-bottom: 23px;
  }
}
@media (max-width: 1080px) {
  .intro__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    margin-bottom: 10px;
  }
}
.intro__image img {
  max-width: 100%; /* Set the maximum width of the image to 100% */
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Ensure the image does not exceed its container */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
}
@media (max-width: 1440px) {
  .intro__image img {
    max-width: 100%; /* Adjust for small desktop */
  }
}
@media (max-width: 1280px) {
  .intro__image img {
    max-width: 72%; /* Adjust for tablet landscape */
  }
}
@media (max-width: 1080px) {
  .intro__image img {
    max-width: 100%;
    width: 300px;
    margin-left: -10px; /* Reset margin for mobile */
  }
}
.intro__text {
  flex: 2;
  max-width: 66.666%;
  margin-bottom: 8%;
}
@media (max-width: 1440px) {
  .intro__text {
    max-width: 60%;
  }
}
@media (max-width: 1080px) {
  .intro__text {
    max-width: 100%;
    display: contents;
  }
}
.intro__description {
  font-size: 2rem;
  color: #191919;
  margin-bottom: 40px;
  line-height: 1.5;
  text-align: justify;
}
@media (max-width: 1440px) {
  .intro__description {
    font-size: 1.8rem;
  }
}
@media (max-width: 1280px) {
  .intro__description {
    font-size: 1.6rem;
  }
}
.intro__cta {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1440px) {
  .intro__cta {
    font-size: 2rem;
  }
}
@media (max-width: 1280px) {
  .intro__cta {
    font-size: 1.6rem;
  }
}
@media (max-width: 1080px) {
  .intro__cta {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 130px;
  }
}

/*
  Key features Section
  */
.key-features {
  padding-top: 0;
  overflow: visible;
}
.key-features__section {
  height: 173vh;
  position: relative;
  overflow: visible;
  z-index: 888;
  background-image: url("../img/key-features-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 1920px) {
  .key-features__section {
    height: 137%;
    max-height: 1470px;
  }
}
@media (max-width: 1440px) {
  .key-features__section {
    background-size: 100% auto;
    height: 136vh;
    max-height: 1100px;
  }
}
@media (max-width: 1280px) {
  .key-features__section {
    height: 146vh;
    max-height: 1000px;
    padding-top: 80px;
  }
}
@media (max-width: 1080px) {
  .key-features__section {
    height: auto;
    max-height: none;
    background-repeat: repeat;
    padding-bottom: 100px;
    padding-top: 20px;
  }
}
.key-features__container {
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .key-features__container {
    padding-top: 0;
  }
}
@media (max-width: 1080px) {
  .key-features__container {
    height: auto;
  }
}
.key-features__anchor {
  display: flex;
  align-items: start;
  height: 130px;
  width: 20px;
}
@media (max-width: 1280px) {
  .key-features__anchor {
    height: 70px;
  }
}
@media (max-width: 1080px) {
  .key-features__anchor {
    margin-top: 3rem;
  }
}
.key-features__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  width: 80%;
  max-width: 1200px;
  z-index: 1;
}
@media (max-width: 1440px) {
  .key-features__content {
    width: 78%;
  }
}
@media (max-width: 1280px) {
  .key-features__content {
    width: 86%;
  }
}
.key-features__heading {
  margin-bottom: 150px;
  max-width: 1200px !important;
}
@media (max-width: 1440px) {
  .key-features__heading {
    margin-bottom: 90px;
  }
}
@media (max-width: 1280px) {
  .key-features__heading {
    height: 100px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1080px) {
  .key-features__heading {
    margin-bottom: 3rem;
    text-align: center;
  }
}
.key-features__box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: -2px 7px 24px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.key-features__box:hover {
  transform: translateY(-0.7px) scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.key-features__box:active {
  transform: translateY(-0.7px) scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1440px) {
  .key-features__box {
    padding: 34px;
  }
}
@media (max-width: 1280px) {
  .key-features__box {
    padding: 24px;
  }
}
.key-features__box-title {
  margin-bottom: 28px;
  width: 100%;
}
@media (max-width: 1280px) {
  .key-features__box-title {
    font-size: 1.9rem;
  }
}
.key-features__box-description {
  font-size: 1.6rem;
  color: #191919;
  line-height: 1.4;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .key-features__box-description {
    font-size: 1.6rem;
    line-height: 1.3;
  }
}
@media (max-width: 1080px) {
  .key-features__box-description {
    line-height: 1.5;
  }
}

#key-features--heading h2 {
  color: #ffffff !important;
}

.sign-up__section {
  height: 90vh;
}
@media (max-width: 1920px) {
  .sign-up__section {
    max-height: 900px;
  }
}
@media (max-width: 1280px) {
  .sign-up__section {
    height: 98vh;
    max-height: 900px;
  }
}
@media (max-width: 1080px) {
  .sign-up__section {
    max-height: none;
    height: auto;
  }
}
.sign-up__container {
  height: 100%;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .sign-up__container {
    height: 88vh;
  }
}
@media (max-width: 1280px) {
  .sign-up__container {
    width: 78%;
  }
}
@media (max-width: 1080px) {
  .sign-up__container {
    height: auto;
    width: 100%;
    padding-bottom: 100px;
  }
}
.sign-up__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  max-width: 1320px;
  position: relative;
}
@media (max-width: 1920px) {
  .sign-up__content {
    width: 88%;
  }
}
@media (max-width: 1440px) {
  .sign-up__content {
    width: 84%;
    left: 3%;
    margin-top: 60px;
  }
}
@media (max-width: 1080px) {
  .sign-up__content {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    left: 0%;
    margin-top: 0px;
  }
}
.sign-up__heading {
  margin-bottom: 120px;
}
@media (max-width: 1440px) {
  .sign-up__heading {
    margin-bottom: 32px;
  }
}
@media (max-width: 1280px) {
  .sign-up__heading {
    height: 120px;
    margin-bottom: 0;
    margin-top: 46px;
  }
}
@media (max-width: 1080px) {
  .sign-up__heading {
    text-align: center;
    margin-top: 26px;
  }
}
.sign-up__image, .sign-up__text {
  position: relative;
}
.sign-up__image {
  flex: 1;
  height: 100%;
  text-align: right;
  padding-right: 40px;
}
@media (max-width: 1280px) {
  .sign-up__image {
    padding-right: 0px;
    text-align: right;
  }
}
@media (max-width: 1280px) and (max-width: 1080px) {
  .sign-up__image {
    max-width: 100%;
  }
}
.sign-up__image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1280px) {
  .sign-up__image img {
    max-width: 80%;
    text-align: left;
  }
}
@media (max-width: 1080px) {
  .sign-up__image img {
    max-width: 90%;
  }
}
.sign-up__icon {
  height: 120px;
  margin-bottom: 0px;
}
.sign-up__text {
  flex: 2;
  max-width: 66.666%;
  margin-bottom: 20%;
}
@media (max-width: 1440px) {
  .sign-up__text {
    margin-bottom: 15%;
  }
}
@media (max-width: 1280px) {
  .sign-up__text {
    margin-bottom: 12%;
  }
}
@media (max-width: 1080px) {
  .sign-up__text {
    max-width: none;
  }
}
.sign-up__description {
  font-size: 2rem;
  color: #191919;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: justify;
  width: 100%;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .sign-up__description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 46px;
  }
}
@media (max-width: 1280px) {
  .sign-up__form {
    height: 32px;
  }
}
@media (max-width: 1080px) {
  .sign-up__form {
    width: 100%;
    font-size: 1.6rem;
  }
}
@media (max-width: 1440px) {
  .sign-up__form input,
  .sign-up__form button {
    font-size: 1.4rem;
    padding: 6px 56px;
  }
}
@media (max-width: 1280px) {
  .sign-up__form input,
  .sign-up__form button {
    font-size: 1.4rem;
    padding: 0px 32px 0px;
  }
}
@media (max-width: 1080px) {
  .sign-up__form input,
  .sign-up__form button {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
}
.sign-up__form input {
  background-color: transparent;
  border: 2px #191919;
  color: #000000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
}
@media (max-width: 1080px) {
  .sign-up__form input {
    width: 30%;
  }
}
.sign-up__form button {
  background-color: #000000;
  color: #f8f8f8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.sign-up__form button:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .sign-up__form button {
    padding: 8px 32px 10px 32px;
  }
}
@media (max-width: 1280px) {
  .sign-up__form button {
    padding: 0px 32px 0px;
  }
}
@media (max-width: 1080px) {
  .sign-up__form button {
    width: 30%;
    padding: 0px 17px 0px;
    font-weight: 400;
  }
}
.sign-up__form button:hover {
  background-color: black;
}
.sign-up__form2 {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: transparent;
}
.sign-up__form2 input[type=text],
.sign-up__form2 input[type=email],
.sign-up__form2 button {
  margin-bottom: 1rem;
  transition: border 0.3s ease-in-out;
  border: 1px solid #7d7d7d;
  color: #969696;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 12px;
  letter-spacing: 1px;
}
.sign-up__form2 input[type=text]:focus,
.sign-up__form2 input[type=email]:focus,
.sign-up__form2 button:focus {
  outline: none;
}
.sign-up__form2 button {
  text-decoration: none;
  padding: 8px 56px;
  font-size: 1.6rem;
  color: #f8f8f8;
  cursor: pointer;
  border: 2px black;
  outline: none;
  border-radius: 40px;
  transition: transform 1.3s ease-in-out, box-shadow 0.1s ease;
  font-family: "Inter", "Helvetica", sans-serif;
  background-color: #191919;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.sign-up__form2 button:hover {
  background-color: #000000;
  transform: translateY(-0.7px) scale(1.01);
}
.sign-up__form2 button:active {
  transform: translateY(-0.7px) scale(0.98);
}
@media (max-width: 1080px) {
  .sign-up__form2 {
    width: 90%;
    margin: 0 auto;
  }
}
.sign-up__bottom-navbar {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  background-color: #f8f8f8;
}
@media (max-width: 1280px) {
  .sign-up__bottom-navbar {
    height: 40px;
  }
}
@media (max-width: 1080px) {
  .sign-up__bottom-navbar {
    position: relative;
  }
  .sign-up__bottom-navbar::before {
    content: "";
    position: absolute;
    width: 84%;
    border-top: 1px solid #7d7d7d;
  }
}
.sign-up__bottom-navbar .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
}
.sign-up__bottom-navbar .nav-container .nav-links {
  display: flex;
  align-items: center;
  width: 84%;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 50%;
}
.sign-up__bottom-navbar .nav-container .nav-links a {
  text-decoration: none;
  color: #191919;
  font-size: 1.6rem;
  font-weight: normal;
  margin-right: 20px;
  margin-right: 40%;
}
@media (max-width: 1440px) {
  .sign-up__bottom-navbar .nav-container .nav-links a {
    font-size: 1.4rem;
  }
}
.sign-up__bottom-navbar .nav-container .nav-links a:last-child {
  margin-right: 0;
}
.sign-up__bottom-navbar .nav-container .nav-links a:hover {
  color: #000000;
  font-weight: bold;
}
.sign-up__bottom-navbar .nav-container .nav-links a {
  color: #191919;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}
@media (max-width: 1280px) {
  .sign-up__bottom-navbar .nav-container .nav-links a {
    font-size: 1.4rem;
  }
}
.sign-up__bottom-navbar .nav-container .nav-links a:hover {
  color: #000000;
  font-weight: bold;
}
.sign-up__columns {
  width: 50%;
}
.sign-up__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}
.sign-up__socials--columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up__socials--columns-1 {
  flex: 1;
  justify-content: left;
  padding-left: 30px;
}
.sign-up__socials--columns-2 {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}
.sign-up__socials a {
  margin-right: 3.4rem;
  text-decoration: none;
}
.sign-up__socials a img {
  height: 3.4rem;
  width: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sign-up__socials a img:hover {
  transform: translateY(-0.7px) scale(1.01);
}
.sign-up__socials a img:active {
  transform: translateY(-0.7px) scale(0.98);
}

.countdown__timer--second {
  position: absolute;
  top: 25%;
  left: 35%;
  max-width: 33.333%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 1.6rem;
  font-family: "Inter", "Helvetica", sans-serif;
  color: #f75200;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
.countdown__timer--second_time-unit {
  display: inline-block;
  width: 2em;
  text-align: center;
}
@media (max-width: 1440px) {
  .countdown__timer--second {
    top: 25%;
    left: 37%;
    font-weight: 700;
  }
}
@media (max-width: 1280px) {
  .countdown__timer--second {
    top: 25%;
    left: 45%;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media (max-width: 1080px) {
  .countdown__timer--second {
    top: 32%;
    left: 39%;
    font-size: 1.7rem;
    text-align: left;
  }
}

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  box-shadow: -12px 38px 33px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.popup-container img {
  max-width: 80px;
  margin-bottom: 40px;
}
.popup-container p {
  font-size: 24px;
  margin-bottom: 30px;
}

/*
Scrollable gradient chat 
*/
.body-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: none;
}

.chat-container {
  width: 300px;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #000;
  color: #ffffff;
}

.chat-bubble {
  background: #330b95;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 15px;
  position: relative;
  display: inline-block; /* Ensures the bubble only takes as much width as the content */
  max-width: 80%; /* Limits the width of the bubble */
  word-wrap: break-word;
  transition: background 0.2s;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.left {
  align-self: flex-start;
  margin-left: 1rem;
}

.right {
  align-self: flex-end;
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
