// Define Breakpoints as Variables
$desktop-x-large: 3480px;
$desktop-large: 2560px;
$desktop-medium: 1920px; // done
$desktop-small: 1540px; // done
$tablet-landscape: 1280px; // done
$mobile-portrait-large: 1080px; // done

// Define the 'respond-to' mixin

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile-portrait-large {
    @media (max-width: $mobile-portrait-large) {
      @content;
    }
  } @else if $breakpoint == tablet-landscape {
    @media (max-width: $tablet-landscape) {
      @content;
    }
  } @else if $breakpoint == desktop-small {
    @media (max-width: $desktop-small) {
      @content;
    }
  } @else if $breakpoint == desktop-medium {
    @media (max-width: $desktop-medium) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media (max-width: $desktop-large) {
      @content;
    }
  } @else if $breakpoint == desktop-x-large {
    @media (max-width: $desktop-x-large) {
      @content;
    }
  }
}

// Breakpoint: Medium desktop
@include respond-to(desktop-large) {
  margin-top: 100px;
}

// Breakpoint: Medium desktop
@include respond-to(desktop-large) {
  width: 84%;
}

// Breakpoint: Medium desktop
@include respond-to(desktop-medium) {
}

// Breakpoint: Small desktop
@include respond-to(desktop-small) {
  margin-bottom: 32px;
}

// Breakpoint: Tablet landscape
@include respond-to(tablet-landscape) {
  width: 80%;
}

// Breakpoint: Mobile large portrait
@include respond-to(mobile-portrait-large) {
  max-width: 95%;
  margin-left: -28px;
}
